<div class="panel panel-default text-center">
  <div class="panel-heading font-weight-bold" style="font-size: 32px;">Editing User</div>
  <br>
  <div class="panel-body" style="width: 350px; height: 50px; margin-left: 400px;">
  <br> 
<%= render 'form', user: @user %>
<br>

<%= link_to 'Show', @user ,:class=>"btn btn-success" %> |
<%= link_to 'Back', users_path ,:class=>"btn btn-success" %>

</div>
</div>